@media screen and (max-width:992px){
  #errorMail,#errorPassword{
    font-size: 11px;
  }
  .h1{
    transition: all ease-in 700ms;
    font-size: 2em;
  }

  body{
    background-image: url('../img/levi2.jpg');
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}